<p>block-list works!</p>
<table>
  <tr>
    <th>Level</th>
    <th>Proposer</th> 
    <th>Timestamp</th>
    <th>Number transactions</th>
  </tr>
  <tr *ngFor="let block of blockList$ | async">
    <td>{{block.level}}</td>
    <td>{{block.proposer | json}}</td>
    <td>{{block.timestamp}}</td>
    <td>{{block.numberTransactions}}</td>
  </tr>
  <div class="pagination">
    <button class="pagination-previous" [class.is-disabled]="!(pageNumber$ | async)" (click)="previousPage()">Previous</button>
    <button class="pagination-next" (click)="nextPage()">Next page</button>
  </div>
  <pre>{{pageNumber$ | async}}</pre>
</table>